


<%# <center > </center> %>


 <div class="container">
  <div class="row">
     <div class="col-md-6 col-md-offset-2">
      <center>   <h1>NectHub - Set up your organisation </h1> </center>
     </div>
     <br>
     <br>
     <br>
  </div>
  <div class="row">
  <div class="col-md-6 col-md-offset-2">
 <%= link_to "Sign Up As an Organisation" ,  new_organisation_registration_path , :class => "btn btn-primary btn-block  btn-lg"  %> 
  </div>
  </div>
 </div>
